.Forecast {
  margin-left: 24px;
}
.Forecast h3 {
  color: #fff;
  margin: 5px 0 5px 0;
}

.Forecast h4 {
  font-size: 24px;
  margin: 0;
}

.Forecast li p {
  font-size: 10px;
}

.Forecast li {
  margin: 0;
  padding: 0 0 4px 0;
  background-color: transparent;
  border: none;
}
