.Temperature h2 {
  font-size: 72px;
  display: inline;
}

.Temperature p.degree-type {
  display: inline;
  font-size: 16px;
}

.Temperature .today-weather {
  margin: 8px 0 8px 0;
}

.Temperature .today-icon {
  font-size: 48px;
  bottom: 5px;
}

.Temperature .degree-type .active {
  color: #000;
  cursor: default;
}

.Temperature .degree-type .active:hover {
  text-decoration: none;
}
